body {
    font-family: Arial, sans-serif;
    background: #eee;
    text-align: center;
}

#road {
    position: relative;
    width: 600px;
    height: 800px;
    background: #333;
    margin: 20px auto;
    overflow: hidden;
}

.car {
    position: absolute;
    width: 40px;
    height: 60px;

    background-image: url("./assets/car.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform-origin: center;
}


#traffic-light {
    position: absolute;
    top: 300px;
    width: 600px;
    height: 30px;
    background: green;
}