body {
    font-family: Arial, sans-serif;
    background: #303030;
    text-align: center;
}

h2 {
    color: aliceblue;
}

#road {
    position: relative;
    width: 600px;
    height: 600px;

    background-image: url("./assets/road.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    margin: 20px auto;
    overflow: hidden;
}

.car {
    position: absolute;
    width: 40px;
    height: 60px;

    background-image: url("./assets/car.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform-origin: center;
}


#traffic-light {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 30px;
    transform: translate(-50%, -50%);
}
